<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hallow i am Vishwajeet</h1>
    <h2>Attendance List</h2>

<ul>
  <% attendance.forEach(a => { %>
    <li> name:<%= a.name %><br><hr> time <%= a.time %></li>
  <% }) %>
</ul>

</body>
</html>