.login-form{
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(225, 202, 174);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);

}
.login-form input{
    
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(105, 104, 102, 0.447);
    color:rgb(22, 7, 228) ;
    font-weight: bold;
}
input::placeholder{
    color: rgba(22, 7, 228, 0.479);
    font-weight:lighter;
    text-transform: capitalize;

}
#button:hover{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(22, 7, 228, 0.756);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#button:active{
    background-color: rgba(22, 7, 228, 0.756);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transform: scale(0.95);
}

input:focus{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(66, 6, 230, 0.447);
    color:rgb(17, 7, 154) ;
    font-weight: bold;
}

input:focus::placeholder{
    color: rgba(17, 7, 154, 0.479);
    font-weight:lighter;
    text-transform: capitalize;
}
input:hover{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(66, 6, 230, 0.447);
    color:rgb(17, 7, 154) ;
    font-weight: bold;
}
